/* You can add global styles to this file, and also import other style files */
html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--siteBackground);
}

@font-face {
    font-family: 'OpenRundeRegular';
    src: url("assets/fonts/OpenRunde-Regular.woff2");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'OpenRundeMedium';
    src: url("assets/fonts/OpenRunde-Medium.woff2");
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'OpenRundeSemibold';
    src: url("assets/fonts/OpenRunde-Semibold.woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'OpenRundeBold';
    src: url("assets/fonts/OpenRunde-Bold.woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

[data-theme="light"] {
    --logoColor: #296699;
    --siteBackground: #fff;
    --searchBarBackground: #F0F0F0;
    --searchBarText: #8A93AC;
    --searchButtonBackground: #0456B8;
    --searchButtonBackgroundHover: #0456B8;
    --searchButtonText: #D4E8FF;
    --textHeading: #296699;
    --text: #296699;
    --textLight: #3FA7FF;
    --textAge: #B0B0B0;
    --buttonViewAllBackground: #E8F3FF;
    --buttonViewAllBackgroundHover: #E8F3FF;
    --buttonViewAllText: #3FA7FF;
    --cardLightBackground: #F0F0F0;
    --cardDarkBackground: #F0F0F0;
    --headerGradient: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    --pathInactive: #9A9487;
    --pathActive: #3FA7FF;
    --newButtonBackground: #5FABF0;
    --newButtonText: #DCEEFF;
    --nextButtonBackground: #E8F3FF;
    --prevButtonBackground: #82A8D2;
    --nextButtonText: #296699;
    --prevButtonText: #FFFFFF;
    --confirmingBackground: #F0F0F0;
    --confirmingText: #296699;
    --confirmingTextLight: #3FA7FF;
    --confirmingButtonBackground: #82A8D2;
    --confirmingButtonText: #FFFFFF;
    --confirmedBackground: #C2E7A4;
    --confirmedText: #4A9924;
    --confirmedTextLight: #7AB757;
    --confirmedButtonBackground: #78C752;
    --confirmedButtonText: #305904;
    --proveButtonInactive: #E8F3FF;
    --proveButtonActive: #4C4639;
    --proveButtonActiveText: #eee7da;
    --proveInputFieldBackground: #f7f0e4;
    --cardHoverBorder: #FC993A;
    --skeletonBackground: rgba(0, 0, 0, 0.03);
    --proveBackground: #D7E8B4;
    --proveBorder: #7FC44F;
    --proveText: #4b782b;
    --proveLightText: #2b4e129b;
    --themeSwitchButtonBackground: #F0F0F0;
    --noProveResultsBackground: #ff002221;
    --noProveResultsText: #fe2b2b;
    --paginatorDisabled: #67615354;
    --boxShadow: rgba(0, 0, 0, 0.02);
    --searchBarFocused: #F0F0F0;

    --font100: 'OpenRundeRegular';
    --font200: 'OpenRundeMedium';
    --font300: 'OpenRundeSemibold';
    --font400: 'OpenRundeBold';

    --factor: 1;
}

[data-theme="dark"] {
    --logoColor: #ffffff;
    --siteBackground: #171C3B;
    --searchBarBackground: #1E2B52;
    --searchBarText: #ADCDE8;
    --searchButtonBackground: #2F427C;
    --searchButtonBackgroundHover: #2F427C;
    --searchButtonText: #A3BFFF;
    --textHeading: #FFFFFF;
    --text: #FFFFFF;
    --textLight: #ADCDE8;
    --textAge: #A8ADB4;
    --buttonViewAllBackground: #2F427C;
    --buttonViewAllBackgroundHover: #2F427C;
    --buttonViewAllText: #A3BFFF;
    --cardLightBackground: #1E2B52;
    --cardDarkBackground: #1E2B52;
    --headerGradient: linear-gradient(0deg, rgba(23, 28, 59, 0) 0%, rgba(23, 28, 59, 1) 100%);
    --pathInactive: #A8ADB4;
    --pathActive: #A3BFFF;
    --newButtonBackground: #192C3D;
    --newButtonText: #3D9DF6;
    --nextButtonBackground: #2F427C;
    --prevButtonBackground: #1E2B52;
    --nextButtonText: #FFFFFF;
    --prevButtonText: #A3BFFF;
    --confirmingBackground: #1E2B52;
    --confirmingText: #ADCDE8;
    --confirmingTextLight: #FFFFFF;
    --confirmingButtonBackground: #2F427C;
    --confirmingButtonText: #FFFFFF;
    --confirmedBackground: #1B2316;
    --confirmedText: #80D158;
    --confirmedTextLight: #4D7939;
    --confirmedButtonBackground: #7FD159;
    --confirmedButtonText: #17331D;
    --proveButtonInactive: #1E2B52;
    --proveButtonActive: #C1BBAF;
    --proveButtonActiveText: #1A1A1A;
    --proveInputFieldBackground: #1A1A1A;
    --cardHoverBorder: #FC993A;
    --skeletonBackground: rgba(255, 255, 255, 0.015);
    --proveBackground: #1B2316;
    --proveBorder: #80d158;
    --proveText: #80d158;
    --proveLightText: #80d1586c;
    --themeSwitchButtonBackground: #292929;
    --noProveResultsBackground: #fd47332e;
    --noProveResultsText: #fe1f1f;
    --paginatorDisabled: #dbdbdb46;
    --boxShadow: rgba(0, 0, 0, 0);
    --searchBarFocused: #1E2B52;

    --font100: 'OpenRundeRegular';
    --font200: 'OpenRundeMedium';
    --font300: 'OpenRundeSemibold';
    --font400: 'OpenRundeBold';

    --factor: 1;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.font100 {
    font-family: var(--font100);
    letter-spacing: -0.03rem;
}

.font200 {
    font-family: var(--font200);
    letter-spacing: -0.03rem;
}

.font300 {
    font-family: var(--font300);
    letter-spacing: -0.03rem;
}

.transition {
    transition: all 0.2s;
    animation-timing-function: cubic-bezier(.74, -0.01, .26, 1.04);
}

.transitionFaster {
    transition: all 0.15s;
    animation-timing-function: cubic-bezier(.74, -0.01, .26, 1.04);
}

.transitionFast {
    transition: all 0.1s;
    animation-timing-function: cubic-bezier(.74, -0.01, .26, 1.04);
}

.lighterText {
    color: var(--textLight)
}

.textAge {
    color: var(--textAge)
}

@keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }

#frame {
    padding-top: 180px;
    //width: calc(1045px*var(--factor));
    //min-height: calc(100vh + 1px);
    //height: fit-content;
    //display: flex;
    //flex-direction: column;
}

.frame-wrapper {
  width: calc(1045px*var(--factor));
  min-height: calc(100vh + 1px);
  height: fit-content;
  display: flex;
  flex-direction: column;
}

#frame.hidden {
    margin-top: 25px;
    opacity: 0;
}

.path {
    height: calc(54px*var(--factor));
    width: 100%;
    padding-left: calc(15px*var(--factor));
    color: var(--pathActive);
    opacity: 1;
    font-size: calc(15px*var(--factor)*1.2);
    user-select: none;
}

.path.hidden {
    opacity: 0;
}

.pathInactive {
    color: var(--pathInactive);
}

.pathInactive:hover {
    cursor: pointer;
    color: var(--textHeading);
    text-decoration: underline;
}

.pathDot {
    color: var(--pathInactive);
}

.heading {
    width: 100%;
    height: 60px;
    font-size: calc(30px*var(--factor));
    padding-left: calc(15px*var(--factor));
    color: var(--textHeading);
    user-select: none;
}

.align-left {
  width: 100%;
  text-align: left;
  padding-left: 0;
}

.blockCard-promo {
  margin-bottom: 40px;
  height: initial !important;
  padding: 20px 40px;
  width: calc(1310px * var(--factor)) !important;
  flex-direction: column;
  text-align: center;

  h1, p {
    text-align: center;
  }

  @media only screen and (max-width: 1100px) {
    width: 560px !important;
  }

  @media only screen and (max-width: 620px) {
    width: 350px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.blockCard-faq, .blockCard-summary {
  margin-bottom: 40px;
  margin-top: 30px;
  height: initial !important;
  padding: 20px !important;
  width: calc(1310px * var(--factor)) !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 0 !important;

  @media only screen and (max-width: 1100px) {
    width: 560px !important;
  }

  @media only screen and (max-width: 620px) {
    width: 350px !important;
    margin-left: auto;
    margin-right: auto;
  }

  h2, h2.heading {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    height: auto !important;
    width: 100% !important;
    color: var(--text);
    line-height: 1.2 !important;
  }

  p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    color: var(--text);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.6;
    width: 100% !important;
  }
}

.blockCard-promo-ml {
  margin: 30px 0;
}

.blockCard-promo--list {
  align-self: flex-start;
  list-style: none;
  padding-left: 10px;

  li {
    margin: 10px 0;
  }
}

.footer__section-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 0;
}

.footer__section-link {
  text-decoration: none !important;
  color: var(--text);
}

.section-question {
  width: 100%;
}

.missingText {
    opacity: 25% !important;
}

.mat-mdc-paginator-icon {
	fill: var(--text) !important;
}

.mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
	fill: var(--paginatorDisabled) !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: var(--noProveResultsText) !important;
    border-radius: 17px !important;
}

.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
    color: white !important;
    font-family: 'OpenRundeSemibold' !important;
    box-shadow: var(--boxShadow) 0px 1px 4px;
}

.mat-mdc-button {
    letter-spacing: normal !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
    font-family: 'OpenRundeRegular' !important;
    color: white !important;
}

@media only screen and (max-width: 1999px) {

    [data-theme="light"] {
        --factor: 0.85;
    }

    [data-theme="dark"] {
        --factor: 0.85;
    }
}

.mat-mdc-paginator-range-label {
    margin: 0 32px 0 24px;
    font-family: 'OpenRundeSemibold';
    color: var(--textLight);
}

@media only screen and (max-width: 1180px) {

    [data-theme="light"] {
        --factor: 0.7;
    }

    [data-theme="dark"] {
        --factor: 0.7;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p {
  margin: 10px 0;
}

ul, ol {
  margin: 4px 0;
}

.footer__section-title {
  color: #296699;
  margin-bottom: 15px;
}
